<!--
Purpose: This include file adds custom Dependent Hidden field types
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
   <sitecore>
     <controlSources>
       <source mode="on" namespace="HideDependentFields.Types" assembly="HideDependentFields.Types" prefix="fshide"/>
     </controlSources>
     <fieldTypes>
       <fieldType name="HideDependentCheckbox" type="Sitecore.Data.Fields.CheckboxField,Sitecore.Kernel" />
       <fieldType name="HideDependentDroplist" type="Sitecore.Data.Fields.ValueLookupField,Sitecore.Kernel" />
       <fieldType name="HideDependentDroplink" type="Sitecore.Data.Fields.LookupField,Sitecore.Kernel" />
     </fieldTypes>
   </sitecore>
</configuration>
